
/* Add the following @font-face rules to the top of your CSS file */

/* Regular */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
}

/* Medium */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Inter-Medium.woff2') format('woff2');
}

/* Semi-bold */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

/* Bold */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
}

/* Extra-bold */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/Inter-ExtraBold.woff2') format('woff2');
}

/* Black */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Inter-Black.woff2') format('woff2');
}

